.container {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 400px; /* Увеличить ширину логотипа */
  height: auto;
  margin-bottom: 20px;
  
}
.release-info {
  font-weight: bold;
  font-size: 1.2em;
  color: #444;
  margin-bottom: 20px; /* Добавить отступ снизу */
}

.button-container {
  margin-top: 20px;
}

.button_demo, .button_connect {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.button_demo {
  background-color: #9180bf;
  color: white;
}

.button_demo:hover {
  background-color: #6f1fa9;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.button_connect {
  background-color: white;
  color: #6f1fa9;
  border: 2px solid #9180bf;
}

.button_connect:hover {
  background-color: #6f1fa9;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.description-toggle {
  margin-top: 20px;
}

.toggle-button {
  background: none;
  border: none;
  color: #666666;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
}

.description {
  color: #444444;
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  max-width: 400px; /* Ограничение ширины описания */
  line-height: 1.5;
}